<view-box class="sa-form">
    <box-title class="sa-title">FORM</box-title>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam expetenda. Nihil opus est exemplis hoc facere longius.</p>
    <ng-form name="inputForm">
        <input-wrapper>
            <div>
                <label for="symbol">Stock symbol </label><br />
                <label for="media">Social media </label><br />
                <label for="window">Time window</label><br />
            </div>
            <div>
                <select name="symbol" ng-model="form.symbol" ng-options="symbol.symbol for symbol in ::form.symbols track by symbol.symbol"></select><br />
                <select name="media" ng-model="form.media" ng-options="media.name for media in ::form.medias track by media.id"></select><br />
                <input name="window" type="number" placeholder="Default number of days is 10" ng-model="form.days" /><br />
            </div>
        </input-wrapper>
        <button-wrapper>
            <button type="submit" ng-click="form.submit()">Submit</button>
            <button type="reset" ng-click="form.reset()">Reset</button>
        </button-wrapper>
    </ng-form>
    <result-wrapper ng-if="form.postCount">
        <box-title class="sa-title">RESULT</box-title>
        <div>
            <label for="resultmediacount">Social media posts count </label><span>{{form.postCount}}</span><br />
        </div>
    </result-wrapper>
    <box-title class="sa-title">Top Posts</box-title>
    <input-wrapper>
        <div>
            <label for="qty">Post qty</label><br />
        </div>
        <div>
            <input name="qty" type="number" placeholder="Default number of posts" ng-model="form.postQty" /><br />
        </div>
        <div><button ng-click="form.getTopPosts(form.postQty)">OK</button></div>
    </input-wrapper>
    <social-wrapper ng-if="form.topPosts">
        <social ng-repeat="article in form.topPosts">
            <author>{{::article.author}}</author>
            <post>{{::article.content}}</post>
        </social>
    </social-wrapper>
</view-box>
<view-box class="sa-table" ng-if="form.rangeData.length">
    <box-title class="sa-title">TABLE</box-title>
    <input-wrapper>
        <div>
            <label for="algorithm">Change alg.</label><br />
        </div>
        <div>
            <select name="algorithm" ng-model="form.selectedAlgo" ng-options="algorithm.name for algorithm in ::form.algorithms track by algorithm.id" ng-change="form.changeAlgorithm(form.selectedAlgo)"></select>
        </div>
    </input-wrapper>
    <table-component table-data="form.rangeData"></table-component>
</view-box>