@import '../../app.scss';

ui-view > div.wrapper {
    background-color: $grey-900;
    padding: 0;
    display: block;
    height: 100%;
}
main.sa-main {
    padding: 0.5em;
    margin: 0;
}
main, section {    
    display: block;
    margin: 0;
}
header, footer, div.wrapper {
    max-width: 1200px;
    margin: 0 auto 0 auto;
} 
header.sa-header {
    font-weight: 600;
    height: 3em;
    background-color: $blue-400;
    padding: 0.5em;
    color: $grey-900;
}
header.sa-header > logotext {
    font-size: 1.5em;
    background-color: $orange-400;
    border-radius: $border-radius-small;
    padding: 0.25em;
    color: $grey-900;
}
section.sa-inputform input-wrapper, section.sa-datatable input-wrapper {
    display: flex;
    flex-direction: row;
}

.sa-datatable {

}

.sa-title {

}

footer {
    min-height: 10em;
    background-color: $blue-100;
}


